.container {
  display: flex;
  flex-direction: row;
  gap: 120px;
  justify-content: center;
  width: 100%;
  padding: 0 250px;
  margin-bottom: 90px;

  .text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 360px;
    padding-top: 90px;

    .title {
      margin-bottom: 10px;
    }

    .subtitle {
      margin-bottom: 22px;
    }

    .number {
      z-index: -1;
      position: absolute;
      color: var(--grandfather-80);
      font-size: 450px;
      font-weight: 700;
      line-height: 450px;
      letter-spacing: -13.5px;
      bottom: 0;

      &-left {
        @extend .number;
        right: 120px;
      }

      &-right {
        @extend .number;
        left: 32px;
      }
    }
  }

  .image-container {
    position: relative;
    height: 445px;
    width: 370px;

    .image {
      object-fit: cover;
    }
  }

  @media (max-width: 845px) {
    padding: 0 130px;

    .text-container {
      .number {
        font-size: 300px;
      }
    }
  }

  @media (max-width: 688px) {
    padding: 0 32px;
    margin-bottom: 32px;

    .text-container {
      padding-top: 32px;

      .number {
        font-size: 150px;

        &-left {
          right: 0;
          top: -50px;
        }

        &-right {
          left: 0;
          top: -50px;
        }
      }
    }

    .image-container {
      display: none;
    }
  }
}
