.container {
  width: 174px;

  .list {
    list-style: none;
    margin-top: 20px;

    & li {
      margin-top: 20px;

      .icons-container {
        display: flex;
        gap: 20px;
      }
    }
  }

  @media (max-width: 900px) {
    width: 100%;
  }

  @media (max-width: 688px) {
    width: 100%;
    margin-top: 16px;
  }
}
