.container {
  padding: 32px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: var(--White);
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  .text {
    text-align: center;
  }

  .manual-link {
    color: var(--son-accent);
    text-decoration: underline;
  }

  .answers-container {
    flex: 0 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;


    .answer {
      cursor: pointer;
      border: solid var(--White) 1px;
      padding: 2px 8px;

      &-selected {
        @extend .answer;

        border: solid var(--father-hero) 1px;
        border-radius: 8px;
        box-shadow: 0px 0px 8px var(--father-hero);
      }

      @media (max-width: 688px) {
        img {
          height: 110px;
        }
      }
    }
  }

  .button-container {
    display: flex;
    gap: 16px;

    .button {
      padding: 2px 6px;
      background-color: var(--grandfather-60);
      border: solid 1px var(--grandfather-30);
      border-radius: 4px;
    }
  }
}
