.container {
  height: 750px;
  width: 100%;
  background-image: url('/images/manual-landing-background.jpg');
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 138px;


  .icon {
    margin-bottom: 119px;
  }

  .text-container {
    width: 468px;

    .heading {
      margin-bottom: 20px;
      font-size: 90px;
      line-height: 90px;
      letter-spacing: -2.7px;
    }

    .text {
      margin-bottom: 36px;
    }

    .button {
      font-family: inherit;
      color: var(--White);
      background-color: var(--son-accent);
      padding: 15px 30px;
      border: none;
      cursor: pointer;
    }
  }

  @media (max-width: 1240px) {
    background-position: center;
  }

  @media (max-width: 688px) {
    height: 100%;
    background-image: none;
    background-color: var(--father-50);
    padding: 30px;

    .icon {
      margin-bottom: 32px;
    }

    .text-container {
      width: 100%;

      .heading {
        font-size: 80px;
        line-height: 80px;
      }
    }
  }

  @media (max-width: 320px) {
    .text-container {
      .heading {
        font-size: 50px;
        line-height: 50px;
      }
    }
  }
}
